USE CollegeManagement_Dev;

CREATE  TABLE dbo.Users
(
    UserId          UNIQUEIDENTIFIER NOT NULL CONSTRAINT PK_Users PRIMARY KEY DEFAULT NEWSEQUENTIALID(),
    UserName        NVARCHAR(50)  NOT NULL UNIQUE,
    Email           NVARCHAR(100) NOT NULL UNIQUE,
    PasswordHash    NVARCHAR(256) NOT NULL,
    PasswordSalt    NVARCHAR(256) NOT NULL,
    IsActive        BIT NOT NULL DEFAULT 1,
    IsLocked        BIT NOT NULL DEFAULT 0,
    LastLoginAt     DATETIME2 NULL,
    CreatedAt       DATETIME2 NOT NULL DEFAULT SYSDATETIME(),
    CreatedBy       UNIQUEIDENTIFIER NULL,
    UpdatedAt       DATETIME2 NULL,
    UpdatedBy       UNIQUEIDENTIFIER NULL
);


  